[submodule "src/kuka_drivers"]
	path = src/kuka_drivers
	url = https://github.com/kroshu/kuka_drivers.git

[submodule "src/kuka-external-control-sdk"]
	path = src/kuka-external-control-sdk
	url = https://github.com/kroshu/kuka-external-control-sdk.git

[submodule "src/kuka_robot_descriptions"]
	path = src/kuka_robot_descriptions
	url = https://github.com/kroshu/kuka_robot_descriptions.git

[submodule "src/modbus_slave/lib/modbus_tcp_cpp"]
	path = src/modbus_slave/lib/modbus_tcp_cpp
	url = git@github.com:jonakselm/modbus_tcp_cpp

